@media (width < 480px) {
  .footer {
    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 654px;
    gap: 48px;
    justify-content: space-evenly;
    align-items: center;
    .links-with-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 592px;
    }
    .social-media-links {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
    p {
      margin: 24px;
    }
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .orange-footer-line {
    width: 101px;
    height: 4px;
    background-color: #d87d4a;
  }
}
@media (width > 1080px) {
  .footer {
    font-family: "Manrope", sans-serif;
    line-height: 25px;
    // p {
    //   margin-left: 165px;
    //   width: 100px;
    // }

    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 365px;
    // justify-content: space-between;
    .orange-footer-line {
      margin: 0px auto;
      // border-right: 1010px solid rgba(255, 0, 0, 0);
      width: 1110px;
      height: 4px;
      // background-color: #d87d4a;
      // background: linear-gradient(to right, #d87d4a 0px 101px, #f1f1f1 1110px);
      background: linear-gradient(
        to right,
        #d87d4a 0px,
        #d87d4a 101px,
        #101010 101px,
        #101010 1110px
      );
    }
    .links-with-text {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 1110px;
      height: 25px;
      // padding: 75px 165px 48px 165px;
      margin: 75px auto 0px;
      letter-spacing: 2px;
    }
    // .social-media-links {
    //   display: flex;
    //   justify-content: center;
    //   gap: 16px;
    // }
  }
  .footer-links {
    display: flex;
    gap: 16px;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #d87d4a;
      }
    }
  }
  .footer-description-and-social {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: auto;
    .footer-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 540px;
      height: calc(100px + 25px + 56px);
      text-align: left;
      color: #878787;
    }
    .social-media-links {
      display: flex;
      align-items: center;
      gap: 16px;
      a {
        .hover-color:hover {
          fill: #d87d4a;
        }
      }
    }
  }
}
