@media (width < 620px) {
  .main-nav-section {
    display: flex;
    flex-direction: column;

    .grey-bg {
      margin: 0px 24px 16px 24px;
      border-radius: 10px;
      // DE VERIFICAT
      background: linear-gradient(
        to bottom,
        white 0%,
        white 25%,
        #f1f1f1 25%,
        #f1f1f1 100%
      );
      // DE VERIFICAT
      height: 217px;
    }
    .presentation-images {
      display: flex;
      flex-direction: column;
      align-items: center;

      .headphone {
        border-radius: 40%;
        // box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.637);
      }
      .go-shop {
        .shop {
          border: none;
          background-color: rgba(255, 255, 255, 0);
          &:hover {
            color: #d87d4a;
          }
        }
        .greather-than {
          color: #d87d4a;
        }
      }
    }
  }
}
