*body {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #7d7d7d;
}
.h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}
.h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  color: #000000;
  text-transform: uppercase;
}
.h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
  color: #000000;
  text-transform: uppercase;
}
.h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}
.h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
  color: #000000;
  text-transform: uppercase;
}
.h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  color: #000000;
  text-transform: uppercase;
}
.footer-links {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
}
.h4-white {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}
