@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Philosopher&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Philosopher&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Philosopher&family=Source+Code+Pro&display=swap");
body {
  margin: 0;
}

@media (width < 480px) {
  .footer {
    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 654px;
    gap: 48px;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer .links-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 592px;
  }
  .footer .social-media-links {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .footer p {
    margin: 24px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-links a {
    text-decoration: none;
    color: white;
  }
  .orange-footer-line {
    width: 101px;
    height: 4px;
    background-color: #d87d4a;
  }
}
@media (width > 1080px) {
  .footer {
    font-family: "Manrope", sans-serif;
    line-height: 25px;
    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 365px;
  }
  .footer .orange-footer-line {
    margin: 0px auto;
    width: 1110px;
    height: 4px;
    background: linear-gradient(to right, #d87d4a 0px, #d87d4a 101px, #101010 101px, #101010 1110px);
  }
  .footer .links-with-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1110px;
    height: 25px;
    margin: 75px auto 0px;
    letter-spacing: 2px;
  }
  .footer-links {
    display: flex;
    gap: 16px;
  }
  .footer-links a {
    text-decoration: none;
    color: white;
  }
  .footer-links a:hover {
    color: #d87d4a;
  }
  .footer-description-and-social {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: auto;
  }
  .footer-description-and-social .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 540px;
    height: 181px;
    text-align: left;
    color: #878787;
  }
  .footer-description-and-social .social-media-links {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .footer-description-and-social .social-media-links a .hover-color:hover {
    fill: #d87d4a;
  }
}
@media (width < 480px) {
  .best-audio-gear {
    display: flex;
    flex-direction: column;
    margin: 120px 24px;
    text-align: center;
  }
  .best-audio-gear .best-audio-bg {
    background-image: url(/images/mobile/guy-with-headphones.png);
    height: 300px;
    background-size: cover;
    border-radius: 10px;
  }
  .orange-h1-text {
    color: #d87d4a;
  }
}
@media (width > 1080px) {
  .best-audio-gear {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 120px auto;
    text-align: left;
    width: 1110px;
    gap: 30px;
  }
  .best-audio-gear .best-audio-bg {
    background-image: url(/images/desktop/huy-with-headphones-desktop.png);
    width: 50%;
    height: 588px;
    background-size: cover;
    border-radius: 10px;
  }
  .best-audio-gear .best-audio-description {
    width: 50%;
    margin-left: 0px;
  }
  .best-audio-gear .best-audio-description h1 {
    width: 445px;
    font-size: 40px;
    font-family: "Manrope", sans-serif;
  }
  .best-audio-gear .best-audio-description .orange-h1-text {
    color: #d87d4a;
  }
  .best-audio-gear .best-audio-description p {
    color: #7d7d7d;
    width: 445px;
    font-family: "Manrope", sans-serif;
  }
}
@media (width < 480px) {
  .product-nav-title {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.07px;
    color: #000000;
  }
  .main-nav-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 32px;
  }
  .main-nav-section .grey-bg {
    margin: 0px 24px 16px 24px;
    border-radius: 10px;
    background: linear-gradient(to bottom, white 0%, white 25%, #f1f1f1 25%, #f1f1f1 100%);
    height: 217px;
  }
  .main-nav-section .presentation-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-nav-section .presentation-images .go-shop .shop {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #7d7d7d;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 15px;
  }
  .main-nav-section .presentation-images .go-shop .shop:hover {
    color: #d87d4a;
  }
  .main-nav-section .presentation-images .go-shop .greather-than {
    color: #d87d4a;
  }
}
@media (width > 1080px) {
  .main-nav-section {
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 1110px;
  }
  .main-nav-section .grey-bg {
    border-radius: 10px;
    background: linear-gradient(to bottom, white 0%, white 25%, #f1f1f1 25%, #f1f1f1 100%);
    width: 350px;
    height: 204px;
  }
  .main-nav-section .presentation-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-nav-title {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .shop {
    cursor: pointer;
    vertical-align: middle;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .shop:hover {
    color: #d87d4a;
  }
  .greather-than {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: #d87d4a;
    font-family: "Manrope", sans-serif;
  }
}
.header {
  position: relative;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.mobile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.03);
  padding: 25px 0px;
}
.mobile-header .nav-links {
  display: none;
}
.mobile-header .fa-bars {
  color: white;
}
.mobile-header #menu {
  margin-top: 32px;
}

@media (width > 480px) {
  .go-back {
    width: 1110px;
    margin: 79px auto -104px;
  }
  .go-back a {
    width: 57px;
    height: 25px;
    text-decoration: none;
  }
  .mobile-header {
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .mobile-header .nav-links {
    display: flex;
    gap: 34px;
    width: 550px;
  }
  .mobile-header .nav-links a {
    text-decoration: none;
    color: white;
  }
  .mobile-header .nav-links a:hover {
    color: #d87d4a;
  }
}
#menu {
  display: none;
}

@media (width < 480px) {
  #menu {
    margin: 0;
    top: 115px;
    position: fixed;
    width: 100%;
    height: 718px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 1;
  }
}
.button-see-product {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 15px 30px;
  color: white;
  background-color: #d87d4a;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}
.button-see-product:hover {
  background-color: #fbaf85;
}

.button-see-product.black-button {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.button-see-product.black-button:hover {
  border: 1px solid #4c4c4c;
  color: #ffffff;
  background-color: #4c4c4c;
}

.opacity-button {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  margin-left: 24px;
}
.opacity-button:hover {
  background-color: #000000;
  color: white;
}

* body {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #7d7d7d;
}

.h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

.h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  color: #000000;
  text-transform: uppercase;
}

.h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
  color: #000000;
  text-transform: uppercase;
}

.h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}

.h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
  color: #000000;
  text-transform: uppercase;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  color: #000000;
  text-transform: uppercase;
}

.footer-links {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
}

.h4-white {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
}
#modal-background #modal {
  position: absolute;
  display: block;
  width: 313px;
  background-color: white;
  top: 111px;
  right: 165px;
  z-index: 5;
  border-radius: 10px;
  padding: 32px 32px;
}
#modal-background #modal .modal-containers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#modal-background #modal .modal-containers #containers {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 32px 0px;
}
#modal-background #modal .modal-containers .buttons-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-background #modal .modal-containers .cart-total {
  display: flex;
  justify-content: space-between;
}
#modal-background #modal .modal-containers .cart-total .total-text,
#modal-background #modal .modal-containers .cart-total .cart-total-price {
  margin: 0;
}
#modal-background #modal .modal-containers .cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal-background #modal .modal-containers .cart-title .cart-items-number {
  margin: 0;
}

.checkout-button {
  width: 313px;
  height: 48px;
  background-color: #d87d4a;
  border: none;
  color: white;
}
.checkout-button:hover {
  background-color: #fbaf85;
}

.product-container {
  display: flex;
  width: 313px;
}
.product-container .image-container-cart {
  width: 64px;
  height: 64px;
  background-color: #f1f1f1;
  border-radius: 10px;
  justify-content: center;
}
.product-container .image-container-cart img {
  width: 36px;
  height: 36px;
}
.product-container .buttons-cart {
  justify-content: flex-end;
  vertical-align: middle;
  align-items: center;
  width: 96px;
  height: 63px;
  margin-left: auto;
}
.product-container .buttons-cart button {
  width: 32px;
  height: 32px;
  border: none;
}
.product-container .name-and-price-cart {
  margin-left: 16px;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  align-items: flex-start;
}
.product-container .name-and-price-cart p {
  margin: 0px;
}
.product-container .name-and-price-cart .product-title {
  color: #000000;
  font-weight: bolder;
}
.product-container div {
  display: flex;
  align-items: center;
}
.product-container div .product-quantity {
  display: flex;
  margin: 0px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

@media (width < 480px) {
  #modal {
    position: absolute;
    width: 271px;
    left: 50%;
    top: 114px;
    padding: 31px 28px;
    transform: translate(-50%);
  }
  .checkout-button {
    width: 271px;
  }
  .modal-containers {
    width: 271px;
  }
}
.go-back a:visited {
  color: #7D7D7D;
  background-color: transparent;
  text-decoration: none;
}
.go-back a:hover {
  color: #d87d4a;
}
.go-back a:active {
  color: #d87d4a;
}

body {
  background-color: #f1f1f1;
  width: 100%;
}
body p,
body h3 {
  margin: 0;
}

@media (width < 480px) {
  .icon {
    display: block;
  }
  .main-form-container {
    display: flex;
    flex-direction: column;
    width: 327px;
    margin: auto;
  }
  .checkout-container {
    background-color: white;
    width: 327px;
    height: 1990px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .checkout-container .checkout {
    background-color: white;
    width: 280px;
    height: 1378px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    gap: 24px;
  }
  .checkout-container .checkout .h3 {
    margin-top: 0px;
    color: #cfcfcf;
  }
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .input-and-label {
    display: flex;
    flex-direction: column;
  }
  .input-and-label input {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 56px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding-left: 24px;
    align-self: center;
  }
  .input-and-label .address-input {
    width: 250px;
  }
  .payment-form {
    display: flex;
    flex-direction: column;
  }
  .payment-form .payment-form-inputs .radio-payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 262px;
    height: 56px;
    border: 1px solid #cfcfcf;
    margin-bottom: 16px;
    border-radius: 10px;
    padding-left: 16px;
  }
  .payment-form .payment-form-inputs .radio-payment:hover {
    cursor: pointer;
    outline: 1px solid #d87d4a;
  }
  .payment-form .payment-form-inputs .radio-payment .payment-input {
    width: 20px;
    height: 20px;
    accent-color: #d87d4a;
  }
  .payment-form .payment-form-inputs .radio-payment label {
    width: 273px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
  input:focus {
    outline: 1px solid #d87d4a;
    cursor: pointer;
  }
  input:hover {
    cursor: pointer;
  }
  .payment-input:hover {
    cursor: pointer;
  }
  input[type=radio]:focus {
    outline: none;
  }
  input[type=radio]:checked {
    background-color: #d87d4a;
  }
  img {
    width: 50px;
  }
  .motor-bike-container {
    display: flex;
  }
  .summary {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: white;
    border-radius: 5px;
  }
  .summary .h6 {
    margin: 0;
  }
  button {
    background-color: white;
    border: none;
  }
  .summary-removeall {
    display: flex;
    justify-content: space-between;
  }
  .summary-removeall button {
    display: none;
  }
  #total {
    height: 20px;
    width: 100px;
  }
}
@media (width > 1080px) {
  .icon {
    display: none;
  }
  .main-form-container {
    width: 1110px;
    margin: 142px auto 141px;
  }
  .checkout-container {
    width: 1110px;
    display: flex;
    gap: 30px;
  }
  .checkout-container .checkout {
    background-color: white;
    width: 730px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 54px 48px 48px;
  }
  .checkout-container .checkout .h3 {
    margin-bottom: 20px;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }
  .input-and-label {
    display: flex;
    flex-direction: column;
  }
  .input-and-label input {
    width: 307px;
    height: 56px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding-left: 24px;
  }
  .input-and-label .address-input {
    width: 665px;
  }
  .payment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .payment-form .payment-form-inputs .radio-payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
    border: 1px solid #cfcfcf;
    margin-bottom: 16px;
    border-radius: 10px;
    padding-left: 16px;
  }
  .payment-form .payment-form-inputs .radio-payment:hover {
    cursor: pointer;
    outline: 1px solid #d87d4a;
  }
  .payment-form .payment-form-inputs .radio-payment .payment-input {
    width: 20px;
    height: 20px;
    accent-color: #d87d4a;
  }
  .payment-form .payment-form-inputs .radio-payment label {
    width: 273px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
  input:focus {
    outline: 1px solid #d87d4a;
    cursor: pointer;
  }
  input:hover {
    cursor: pointer;
  }
  .payment-input:hover {
    cursor: pointer;
  }
  input[type=radio]:focus {
    outline: none;
  }
  input[type=radio]:checked {
    background-color: #d87d4a;
  }
  img {
    width: 50px;
  }
  .motor-bike-container {
    display: flex;
  }
  button {
    border: none;
  }
  .summary-removeall {
    display: flex;
    justify-content: space-between;
  }
  #total {
    height: 20px;
    width: 100px;
  }
  .summary {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 32px 33px;
  }
  .summary #products-summary {
    margin: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .summary #products-summary .product-container-summary {
    display: flex;
    width: 284px;
  }
  .summary #products-summary .product-container-summary .image-container-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 64px;
    height: 64px;
  }
  .summary #products-summary .product-container-summary .image-container-summary img {
    width: 36px;
  }
  .summary .h6 {
    margin: 0;
  }
  .product-container-summary {
    display: flex;
    width: 284px;
  }
  .product-container-summary .name-and-price-summary {
    width: 130px;
    padding-left: 16px;
  }
  .product-container-summary .product-quantity {
    width: 90px;
    text-align: end;
  }
  .product-container-summary .image-container-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 64px;
    height: 64px;
  }
  .product-container-summary .image-container-summary img {
    width: 36px;
  }
}
.billing-payment-details {
  color: #d87d4a;
  margin: 16px 0px;
}

.payment-method-title {
  position: relative;
  transform: translateY(25px);
  width: 200px;
}

.total-price {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=checkout.css.map */