body {
  margin: 0;
}

@media (width < 620px) {
  body {
    margin: 0px;
  }
  .main-section {
    background-image: url(/images/mobile/image-header.jpg);
    background-size: 100%;
    color: white;
    height: 600px;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 24px;
    border-bottom: 1px solid #979797;
  }
  .main-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 123px 24px 110px 24px;
  }
  .main-product .new-product {
    letter-spacing: 10px;
  }
  .main-product .headphone-h1 {
    margin-top: 0;
    font-size: 36px;
    text-align: center;
  }
  .main-product .product-description {
    text-align: center;
    width: 75%;
    margin-top: -12px;
  }
  .button-see-product {
    padding: 15px 30px;
    color: white;
    background-color: #D87D4A;
    border: none;
    margin-top: 12px;
  }
  .button-see-product:hover {
    background-color: #FBAF85;
  }
  .second-main-section {
    display: flex;
    flex-direction: column;
  }
  .second-main-section .grey-bg {
    margin: 42px 24px;
    border-radius: 10px;
    background: linear-gradient(to bottom, white 0%, white 25%, #F1F1F1 25%, #F1F1F1 100%);
    height: 217px;
  }
  .second-main-section .presentation-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second-main-section .presentation-images .headphone {
    border-radius: 40%;
  }
  .second-main-section .presentation-images .go-shop .shop {
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .second-main-section .presentation-images .go-shop .shop:hover {
    color: #D87D4A;
  }
  .second-main-section .presentation-images .go-shop .greather-than {
    color: #D87D4A;
  }
  .zx9-speaker {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #D87D4A;
    margin: 24px;
    border-radius: 10px;
    color: white;
    justify-content: space-evenly;
    padding: 50px 20px;
  }
  .zx9-speaker .main-title {
    font-size: 36px;
  }
  .zx9-speaker .black-button {
    background-color: #000000;
  }
  .zx7-speaker {
    display: flex;
    height: 320px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 24px 24px;
    background-image: url(/images/mobile/zx7-speaker-bg.png);
    background-size: cover;
    border-radius: 10px;
  }
  .zx7-speaker h1 {
    margin-left: 24px;
  }
  .opacity-button {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    margin-left: 24px;
  }
  .opacity-button:hover {
    background-color: #000000;
    color: white;
  }
  .yx1-earphones {
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .yx1-earphones .yx1-image {
    background-image: url(/images/mobile/yx1-earphones-bg.png);
    background-size: cover;
    height: 200px;
    border-radius: 10px;
  }
  .yx1-earphones .yx1-see-product {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F1F1F1;
    height: 200px;
  }
  .yx1-earphones .yx1-see-product h1 {
    margin-left: 24px;
  }
  .best-audio-gear {
    display: flex;
    flex-direction: column;
    margin: 120px 24px;
    text-align: center;
  }
  .best-audio-gear .best-audio-bg {
    background-image: url(/images/mobile/guy-with-headphones.png);
    height: 300px;
    background-size: cover;
    border-radius: 10px;
  }
  .best-audio-gear .orange-h1-text {
    color: #D87D4A;
  }
  .footer {
    background-color: #101010;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 654px;
    gap: 48px;
    justify-content: space-evenly;
  }
  .footer .links-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 592px;
  }
  .footer .social-media-links {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .footer p {
    margin: 24px;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=main.mobile.css.map */