@import "base";
@import "footer";
@import "best-audio-gear";
@import "header";
@import "products-list";
@import "menu";
@import "hover-buttons";
@media (width < 620px) {
  body {
    margin: 0px;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    background-image: url(/images/mobile/image-header.jpg);
    background-color: #111111f6;
    background-size: 100vw;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    margin-bottom: 42px;
  }
  .main-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(198px - 75px) 24px 110px 24px;
    .new-product {
      letter-spacing: 10px;
    }
    .headphone-h1 {
      margin-top: 0;
      font-size: 36px;
      text-align: center;
    }
    .product-description {
      text-align: center;
      width: 75%;
      margin-top: calc(24px - 36px);
    }
  }

  .zx9-speaker {
    .zx9-image {
      background-image: url(/images/mobile/speakers-bigger.png);
      width: 172px;
      height: 207px;
    }
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d87d4a;
    margin: 24px;
    border-radius: 10px;
    color: white;
    justify-content: space-evenly;
    padding: 50px 20px;
    .main-title {
      font-size: 36px;
    }
    // .black-button {
    //   background-color: #000000;
    // }
  }
  .zx7-speaker {
    display: flex;
    height: 320px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 24px 24px;
    background-image: url(/images/mobile/zx7-speaker-bg.png);
    background-size: cover;
    border-radius: 10px;
    h1 {
      margin-left: 24px;
    }
  }

  .yx1-earphones {
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .yx1-image {
      background-image: url(/images/mobile/yx1-earphones-bg.png);
      background-size: cover;
      height: 200px;
      border-radius: 10px;
    }
    .yx1-see-product {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 10px;

      h1 {
        margin-left: 24px;
      }
      background-color: #f1f1f1;
      height: 200px;
    }
  }
}
