@import "base";
@import "footer";
@import "best-audio-gear";
@import "header";
@import "products-list";
@import "menu";
@import "hover-buttons";
@import "modal";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Philosopher&family=Source+Code+Pro&display=swap");
@media (width > 1080px) {
  body {
    margin: 0px;
    background: #ffffff;
  }
  .icon {
    display: none;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    // background-image: url(/images/mobile/image-header.jpg);
    background-color: #131313;
    // background-size: 100vw;
    // background-repeat: no-repeat;
    color: white;
    height: 100%;
    margin: 0px auto 42px;
  }
  .main-container {
    display: flex;
    width: 1110px;
    margin: auto;
    .main-product-image {
      img {
        // width: 100%;
        // height: 100%;
      }
    }
  }
  .main-product {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 398px;
    align-items: flex-start;
    margin: calc(198px - 75px) auto;
    .new-product {
      letter-spacing: 10px;
      font-family: "Manrope", sans-serif;
      color: rgba(137, 137, 137, 1);
      margin: 0px;
    }
    .headphone-h1 {
      margin: 0px;
      font-size: 56px;
      font-family: "Manrope", sans-serif;
      letter-spacing: 2px;
      line-height: 58px;
    }
    .product-description {
      width: 90%;
      color: #c4c4c4;
      font-family: "Manrope", sans-serif;
      font-size: 15px;
      line-height: 25px;
    }
  }
  .button-see-product {
    padding: 15px 30px;
    color: white;
    background-color: #d87d4a;
    border: none;
    margin-top: calc(28px - 16px);
    &:hover {
      background-color: #fbaf85;
    }
  }

  .zx9-speaker {
    display: flex;
    flex-direction: row;
    width: 1110px;
    margin: 168px auto 24px;
    height: 600px;
    align-items: center;
    text-align: left;
    background-color: #d87d4a;
    border-radius: 10px;
    color: white;
    justify-content: space-evenly;
    .zx9-image {
      background-image: url(/images/desktop/zx9-desktop.png);
      width: 60%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .zx9-description {
      width: 349px;
      p {
        font-size: 15px;
        font-family: "Manrope", sans-serif;
        color: #f5ded2;
      }
      .main-title {
        font-size: 56px;
        font-family: "Manrope", sans-serif;
        letter-spacing: 2px;
      }
    }
  }
  .zx7-speaker {
    display: flex;
    flex-direction: row;
    background-image: url(/images/desktop/zx7-desktop.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    // width: 100%;
    height: 100%;
    align-items: center;
    margin: 24px auto;
    width: 1110px;

    .zx7-image {
      // background-image: url(/images/desktop/zx7-desktop.png);
      // background-size: 100%;
      // background-repeat: no-repeat;
      margin-right: 44px;
      width: 100%;
      height: 320px;
      // position: relative;
      border-radius: 10px;
    }

    border-radius: 10px;
    .zx7-description {
      position: absolute;
      h1 {
        margin-left: 24px;
        font-size: 28px;
        font-family: "Manrope", sans-serif;
      }
    }
  }
  .opacity-button {
    border: 1px solid black;
    background-color: #00000000;
    color: #000000;
    margin-left: 24px;

    &:hover {
      background-color: #000000;
      color: white;
    }
  }
  .yx1-earphones {
    margin: 0px auto;
    width: 1110px;
    display: flex;
    gap: 24px;
    .yx1-image {
      background-image: url(/images/mobile/yx1-earphones-bg.png);
      background-size: 100%;
      background-position: center;
      width: 50%;
      height: 320px;
      border-radius: 10px;
    }
    .yx1-see-product {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 10px;

      h1 {
        margin-left: 24px;
        font-size: 28px;
        font-family: "Manrope", sans-serif;
      }
      background-color: #f1f1f1;
      height: 320px;
    }
  }
}
