@import "base";
@import "footer";
@import "best-audio-gear";
@import "products-list";
@import "header";
@media (width < 620px) {
  .header {
    width: 100%;
    height: 90px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
  }
  .go-back {
    display: block;
    width: 57px;
    height: 25px;
    text-decoration: none;
    margin: 16px 24px;
  }
  .mobile-header {
    width: 100%;
    height: 89px;
    display: flex;
    .main-header-audiophile {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      padding: 0px 24px;
      align-items: center;
      .bars {
        color: white;
      }
    }
  }
  .product-image {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 90%;
    height: 327px;
    margin: 0px 24px;
    justify-content: center;
    align-items: center;
    .headphones-image {
      transform: translateY(25%);
    }
    .shadow {
      transform: translatey(10%);
    }
  }
  .new-product-title {
    letter-spacing: 10px;
    color: #d87d4a;
    margin: 32px 24px 24px;
  }
  .headphone-main-title {
    margin: 24px;
  }
  .new-product-description {
    margin: 24px;
  }
  .product-price {
    margin: 24px 0px 31px 24px;
  }
  .button-see-product {
    padding: 15px 30px;
    color: white;
    background-color: #d87d4a;
    border: none;
    &:hover {
      background-color: #fbaf85;
    }
  }
  .add-to-cart {
    display: flex;
    align-items: center;
    margin: 31px 55px 88px 24px;
    .button-quantity {
      display: flex;
      justify-content: space-evenly;
      width: 120px;
      height: 48px;
      .plus-minus {
        width: 35px;
      }
      #quantity {
        width: 18px;
      }
    }
  }
  .features {
    margin: 0px 24px 24px 24px;
  }
  .description-features {
    margin: 0px 24px 88px 24px;
    p {
      margin: 0px;
    }
  }
  .in-the-box {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0px 24px 24px;
    }
    .items-inthebox {
      display: flex;
      flex-direction: column;
      .section-inthebox {
        margin: 0px 24px 8px 24px;
      }
      .number {
        color: #d87d4a;
        font-weight: bold;
        font-size: 15px;
        padding-right: 20px;
      }
    }
  }
  .description-images {
    display: flex;
    flex-direction: column;
    margin: 80px 24px 120px 24px;
    gap: 20px;
  }
  .you-may-like {
    margin: 0px 24px 78px 24px;
    h2 {
      text-align: center;
    }
    .youmaylike-containers {
      display: flex;
      flex-direction: column;
      gap: 56px;
      // align-items: center;
    }
    .img-background {
      background-color: #f1f1f1;
      border-radius: 10px;
      width: 100%;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 73px;
      }
    }
  }
  .title-and-see-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-nav-section {
    margin: 120px 0px 58px 0px;
  }
  .best-audio-gear {
    h1 {
      margin: 40px 24px 32px 24px;
    }
    .best-audio-bg {
    }
  }
}
